/* styles.css */
body {
  font-family: Arial, sans-serif;
background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
  color: #042b2a;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: #350b8a9f;
}
div 
p   
{
  font-size: 20px;
}
p
 { color: rgb(75, 98, 19); }
.note  
{ color: orange; }
#introu 
{ color: rgb(112, 150, 8); background: #051113; }
#introe {
    background: #09bce4;
}
#introi {
    background: #04542c;
}
.box  {
     padding: 24px;
     border: 3px solid #41452f;
      margin: 50px;
}
.img  {
    width: 160px;
    padding: 0.5%;
    height: 130px;
     border: 1.5px solid black;
     margin-left: 100px;
   
}
.em-text{
  font-size: 16px;
}
.rem-text {
  font-size: 32px;
}
.coll {
margin-left: 50px;
}